<main class="main">
  <h1 class="report-title">
    karta pomiarów cukrów
  </h1>
  <table class="report">
    <thead>
      <tr>
        <th class="report__heading">
          Godz.
        </th>
        <th class="report__heading" colspan="2">
          Dzień tyg.:
          <br />
          Poniedziałek
        </th>
        <th class="report__heading" colspan="2">
          Wtorek
        </th>
        <th class="report__heading" colspan="2">
          Środa
        </th>
        <th class="report__heading" colspan="2">
          Czwartek
        </th>
        <th class="report__heading" colspan="2">
          Piątek
        </th>
        <th class="report__heading" colspan="2">
          Sobota
        </th>
        <th class="report__heading" colspan="2">
          Niedziela
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
      </tr>
      {{!-- (tr>th{$}>td.report__result{xy$}*14)*22 --}}

     
      <tr>
          <th>
              7
              <td class="report__result">{{x7y1}}</td>
              <td class="report__result">{{x7y2}}</td>
              <td class="report__result">{{x7y3}}</td>
              <td class="report__result">{{x7y4}}</td>
              <td class="report__result">{{x7y5}}</td>
              <td class="report__result">{{x7y6}}</td>
              <td class="report__result">{{x7y7}}</td>
              <td class="report__result">{{x7y8}}</td>
              <td class="report__result">{{x7y9}}</td>
              <td class="report__result">{{x7y10}}</td>
              <td class="report__result">{{x7y11}}</td>
              <td class="report__result">{{x7y12}}</td>
              <td class="report__result">{{x7y13}}</td>
              <td class="report__result">{{x7y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              8
              <td class="report__result">{{x8y1}}</td>
              <td class="report__result">{{x8y2}}</td>
              <td class="report__result">{{x8y3}}</td>
              <td class="report__result">{{x8y4}}</td>
              <td class="report__result">{{x8y5}}</td>
              <td class="report__result">{{x8y6}}</td>
              <td class="report__result">{{x8y7}}</td>
              <td class="report__result">{{x8y8}}</td>
              <td class="report__result">{{x8y9}}</td>
              <td class="report__result">{{x8y10}}</td>
              <td class="report__result">{{x8y11}}</td>
              <td class="report__result">{{x8y12}}</td>
              <td class="report__result">{{x8y13}}</td>
              <td class="report__result">{{x8y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              9
              <td class="report__result">{{x9y1}}</td>
              <td class="report__result">{{x9y2}}</td>
              <td class="report__result">{{x9y3}}</td>
              <td class="report__result">{{x9y4}}</td>
              <td class="report__result">{{x9y5}}</td>
              <td class="report__result">{{x9y6}}</td>
              <td class="report__result">{{x9y7}}</td>
              <td class="report__result">{{x9y8}}</td>
              <td class="report__result">{{x9y9}}</td>
              <td class="report__result">{{x9y10}}</td>
              <td class="report__result">{{x9y11}}</td>
              <td class="report__result">{{x9y12}}</td>
              <td class="report__result">{{x9y13}}</td>
              <td class="report__result">{{x9y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              10
              <td class="report__result">{{x10y1}}</td>
              <td class="report__result">{{x10y2}}</td>
              <td class="report__result">{{x10y3}}</td>
              <td class="report__result">{{x10y4}}</td>
              <td class="report__result">{{x10y5}}</td>
              <td class="report__result">{{x10y6}}</td>
              <td class="report__result">{{x10y7}}</td>
              <td class="report__result">{{x10y8}}</td>
              <td class="report__result">{{x10y9}}</td>
              <td class="report__result">{{x10y10}}</td>
              <td class="report__result">{{x10y11}}</td>
              <td class="report__result">{{x10y12}}</td>
              <td class="report__result">{{x10y13}}</td>
              <td class="report__result">{{x10y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              11
              <td class="report__result">{{x11y1}}</td>
              <td class="report__result">{{x11y2}}</td>
              <td class="report__result">{{x11y3}}</td>
              <td class="report__result">{{x11y4}}</td>
              <td class="report__result">{{x11y5}}</td>
              <td class="report__result">{{x11y6}}</td>
              <td class="report__result">{{x11y7}}</td>
              <td class="report__result">{{x11y8}}</td>
              <td class="report__result">{{x11y9}}</td>
              <td class="report__result">{{x11y10}}</td>
              <td class="report__result">{{x11y11}}</td>
              <td class="report__result">{{x11y12}}</td>
              <td class="report__result">{{x11y13}}</td>
              <td class="report__result">{{x11y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              12
              <td class="report__result">{{x12y1}}</td>
              <td class="report__result">{{x12y2}}</td>
              <td class="report__result">{{x12y3}}</td>
              <td class="report__result">{{x12y4}}</td>
              <td class="report__result">{{x12y5}}</td>
              <td class="report__result">{{x12y6}}</td>
              <td class="report__result">{{x12y7}}</td>
              <td class="report__result">{{x12y8}}</td>
              <td class="report__result">{{x12y9}}</td>
              <td class="report__result">{{x12y10}}</td>
              <td class="report__result">{{x12y11}}</td>
              <td class="report__result">{{x12y12}}</td>
              <td class="report__result">{{x12y13}}</td>
              <td class="report__result">{{x12y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              13
              <td class="report__result">{{x13y1}}</td>
              <td class="report__result">{{x13y2}}</td>
              <td class="report__result">{{x13y3}}</td>
              <td class="report__result">{{x13y4}}</td>
              <td class="report__result">{{x13y5}}</td>
              <td class="report__result">{{x13y6}}</td>
              <td class="report__result">{{x13y7}}</td>
              <td class="report__result">{{x13y8}}</td>
              <td class="report__result">{{x13y9}}</td>
              <td class="report__result">{{x13y10}}</td>
              <td class="report__result">{{x13y11}}</td>
              <td class="report__result">{{x13y12}}</td>
              <td class="report__result">{{x13y13}}</td>
              <td class="report__result">{{x13y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              14
              <td class="report__result">{{x14y1}}</td>
              <td class="report__result">{{x14y2}}</td>
              <td class="report__result">{{x14y3}}</td>
              <td class="report__result">{{x14y4}}</td>
              <td class="report__result">{{x14y5}}</td>
              <td class="report__result">{{x14y6}}</td>
              <td class="report__result">{{x14y7}}</td>
              <td class="report__result">{{x14y8}}</td>
              <td class="report__result">{{x14y9}}</td>
              <td class="report__result">{{x14y10}}</td>
              <td class="report__result">{{x14y11}}</td>
              <td class="report__result">{{x14y12}}</td>
              <td class="report__result">{{x14y13}}</td>
              <td class="report__result">{{x14y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              15
              <td class="report__result">{{x15y1}}</td>
              <td class="report__result">{{x15y2}}</td>
              <td class="report__result">{{x15y3}}</td>
              <td class="report__result">{{x15y4}}</td>
              <td class="report__result">{{x15y5}}</td>
              <td class="report__result">{{x15y6}}</td>
              <td class="report__result">{{x15y7}}</td>
              <td class="report__result">{{x15y8}}</td>
              <td class="report__result">{{x15y9}}</td>
              <td class="report__result">{{x15y10}}</td>
              <td class="report__result">{{x15y11}}</td>
              <td class="report__result">{{x15y12}}</td>
              <td class="report__result">{{x15y13}}</td>
              <td class="report__result">{{x15y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              16
              <td class="report__result">{{x16y1}}</td>
              <td class="report__result">{{x16y2}}</td>
              <td class="report__result">{{x16y3}}</td>
              <td class="report__result">{{x16y4}}</td>
              <td class="report__result">{{x16y5}}</td>
              <td class="report__result">{{x16y6}}</td>
              <td class="report__result">{{x16y7}}</td>
              <td class="report__result">{{x16y8}}</td>
              <td class="report__result">{{x16y9}}</td>
              <td class="report__result">{{x16y10}}</td>
              <td class="report__result">{{x16y11}}</td>
              <td class="report__result">{{x16y12}}</td>
              <td class="report__result">{{x16y13}}</td>
              <td class="report__result">{{x16y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              17
              <td class="report__result">{{x17y1}}</td>
              <td class="report__result">{{x17y2}}</td>
              <td class="report__result">{{x17y3}}</td>
              <td class="report__result">{{x17y4}}</td>
              <td class="report__result">{{x17y5}}</td>
              <td class="report__result">{{x17y6}}</td>
              <td class="report__result">{{x17y7}}</td>
              <td class="report__result">{{x17y8}}</td>
              <td class="report__result">{{x17y9}}</td>
              <td class="report__result">{{x17y10}}</td>
              <td class="report__result">{{x17y11}}</td>
              <td class="report__result">{{x17y12}}</td>
              <td class="report__result">{{x17y13}}</td>
              <td class="report__result">{{x17y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              18
              <td class="report__result">{{x18y1}}</td>
              <td class="report__result">{{x18y2}}</td>
              <td class="report__result">{{x18y3}}</td>
              <td class="report__result">{{x18y4}}</td>
              <td class="report__result">{{x18y5}}</td>
              <td class="report__result">{{x18y6}}</td>
              <td class="report__result">{{x18y7}}</td>
              <td class="report__result">{{x18y8}}</td>
              <td class="report__result">{{x18y9}}</td>
              <td class="report__result">{{x18y10}}</td>
              <td class="report__result">{{x18y11}}</td>
              <td class="report__result">{{x18y12}}</td>
              <td class="report__result">{{x18y13}}</td>
              <td class="report__result">{{x18y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              19
              <td class="report__result">{{x19y1}}</td>
              <td class="report__result">{{x19y2}}</td>
              <td class="report__result">{{x19y3}}</td>
              <td class="report__result">{{x19y4}}</td>
              <td class="report__result">{{x19y5}}</td>
              <td class="report__result">{{x19y6}}</td>
              <td class="report__result">{{x19y7}}</td>
              <td class="report__result">{{x19y8}}</td>
              <td class="report__result">{{x19y9}}</td>
              <td class="report__result">{{x19y10}}</td>
              <td class="report__result">{{x19y11}}</td>
              <td class="report__result">{{x19y12}}</td>
              <td class="report__result">{{x19y13}}</td>
              <td class="report__result">{{x19y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              20
              <td class="report__result">{{x20y1}}</td>
              <td class="report__result">{{x20y2}}</td>
              <td class="report__result">{{x20y3}}</td>
              <td class="report__result">{{x20y4}}</td>
              <td class="report__result">{{x20y5}}</td>
              <td class="report__result">{{x20y6}}</td>
              <td class="report__result">{{x20y7}}</td>
              <td class="report__result">{{x20y8}}</td>
              <td class="report__result">{{x20y9}}</td>
              <td class="report__result">{{x20y10}}</td>
              <td class="report__result">{{x20y11}}</td>
              <td class="report__result">{{x20y12}}</td>
              <td class="report__result">{{x20y13}}</td>
              <td class="report__result">{{x20y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              21
              <td class="report__result">{{x21y1}}</td>
              <td class="report__result">{{x21y2}}</td>
              <td class="report__result">{{x21y3}}</td>
              <td class="report__result">{{x21y4}}</td>
              <td class="report__result">{{x21y5}}</td>
              <td class="report__result">{{x21y6}}</td>
              <td class="report__result">{{x21y7}}</td>
              <td class="report__result">{{x21y8}}</td>
              <td class="report__result">{{x21y9}}</td>
              <td class="report__result">{{x21y10}}</td>
              <td class="report__result">{{x21y11}}</td>
              <td class="report__result">{{x21y12}}</td>
              <td class="report__result">{{x21y13}}</td>
              <td class="report__result">{{x21y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              22
              <td class="report__result">{{x22y1}}</td>
              <td class="report__result">{{x22y2}}</td>
              <td class="report__result">{{x22y3}}</td>
              <td class="report__result">{{x22y4}}</td>
              <td class="report__result">{{x22y5}}</td>
              <td class="report__result">{{x22y6}}</td>
              <td class="report__result">{{x22y7}}</td>
              <td class="report__result">{{x22y8}}</td>
              <td class="report__result">{{x22y9}}</td>
              <td class="report__result">{{x22y10}}</td>
              <td class="report__result">{{x22y11}}</td>
              <td class="report__result">{{x22y12}}</td>
              <td class="report__result">{{x22y13}}</td>
              <td class="report__result">{{x22y14}}</td>
          </th>
      </tr>
            <tr>
                 <th>
              23
              <td class="report__result">{{x23y1}}</td>
              <td class="report__result">{{x23y2}}</td>
              <td class="report__result">{{x23y3}}</td>
              <td class="report__result">{{x23y4}}</td>
              <td class="report__result">{{x23y5}}</td>
              <td class="report__result">{{x23y6}}</td>
              <td class="report__result">{{x23y7}}</td>
              <td class="report__result">{{x23y8}}</td>
              <td class="report__result">{{x23y9}}</td>
              <td class="report__result">{{x23y10}}</td>
              <td class="report__result">{{x23y11}}</td>
              <td class="report__result">{{x23y12}}</td>
              <td class="report__result">{{x23y13}}</td>
              <td class="report__result">{{x23y14}}</td>
          </th>
          </tr><tr>
           <th>
              24
              <td class="report__result">{{x24y1}}</td>
              <td class="report__result">{{x24y2}}</td>
              <td class="report__result">{{x24y3}}</td>
              <td class="report__result">{{x24y4}}</td>
              <td class="report__result">{{x24y5}}</td>
              <td class="report__result">{{x24y6}}</td>
              <td class="report__result">{{x24y7}}</td>
              <td class="report__result">{{x24y8}}</td>
              <td class="report__result">{{x24y9}}</td>
              <td class="report__result">{{x24y10}}</td>
              <td class="report__result">{{x24y11}}</td>
              <td class="report__result">{{x24y12}}</td>
              <td class="report__result">{{x24y13}}</td>
              <td class="report__result">{{x24y14}}</td>
          </th></tr><tr>
          <th>
              1
              <td class="report__result">{{x1y1}}</td>
              <td class="report__result">{{x1y2}}</td>
              <td class="report__result">{{x1y3}}</td>
              <td class="report__result">{{x1y4}}</td>
              <td class="report__result">{{x1y5}}</td>
              <td class="report__result">{{x1y6}}</td>
              <td class="report__result">{{x1y7}}</td>
              <td class="report__result">{{x1y8}}</td>
              <td class="report__result">{{x1y9}}</td>
              <td class="report__result">{{x1y10}}</td>
              <td class="report__result">{{x1y11}}</td>
              <td class="report__result">{{x1y12}}</td>
              <td class="report__result">{{x1y13}}</td>
              <td class="report__result">{{x1y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              2
              <td class="report__result">{{x2y1}}</td>
              <td class="report__result">{{x2y2}}</td>
              <td class="report__result">{{x2y3}}</td>
              <td class="report__result">{{x2y4}}</td>
              <td class="report__result">{{x2y5}}</td>
              <td class="report__result">{{x2y6}}</td>
              <td class="report__result">{{x2y7}}</td>
              <td class="report__result">{{x2y8}}</td>
              <td class="report__result">{{x2y9}}</td>
              <td class="report__result">{{x2y10}}</td>
              <td class="report__result">{{x2y11}}</td>
              <td class="report__result">{{x2y12}}</td>
              <td class="report__result">{{x2y13}}</td>
              <td class="report__result">{{x2y14}}</td>
          </th>
      </tr>
       <tr>
          <th>
              3
              <td class="report__result">{{x3y1}}</td>
              <td class="report__result">{{x3y2}}</td>
              <td class="report__result">{{x3y3}}</td>
              <td class="report__result">{{x3y4}}</td>
              <td class="report__result">{{x3y5}}</td>
              <td class="report__result">{{x3y6}}</td>
              <td class="report__result">{{x3y7}}</td>
              <td class="report__result">{{x3y8}}</td>
              <td class="report__result">{{x3y9}}</td>
              <td class="report__result">{{x3y10}}</td>
              <td class="report__result">{{x3y11}}</td>
              <td class="report__result">{{x3y12}}</td>
              <td class="report__result">{{x3y13}}</td>
              <td class="report__result">{{x3y14}}</td>
          </th>
      </tr>
       <th>
              średnia
              <td class="report__result">{{avg1}}</td>
              <td class="report__result">{{avg2}}</td>
              <td class="report__result">{{avg3}}</td>
              <td class="report__result">{{avg4}}</td>
              <td class="report__result">{{avg5}}</td>
              <td class="report__result">{{avg6}}</td>
              <td class="report__result">{{avg7}}</td>
              <td class="report__result">{{avg8}}</td>
              <td class="report__result">{{avg9}}</td>
              <td class="report__result">{{avg10}}</td>
              <td class="report__result">{{avg11}}</td>
              <td class="report__result">{{avg12}}</td>
              <td class="report__result">{{avg13}}</td>
              <td class="report__result">{{avg14}}</td>
          </th>
    </tbody>
  </table>
</main>