<main class="main">
  <h1 class="report-title">
    karta pomiarów cukrów
  </h1>
  <table class="report">
    <thead>
      <tr>
        <th class="report__heading">
          Godz.
        </th>
         {{#each data.days}}
        <th class="report__heading" colspan="2">
          
          {{day}}
        </th>
        {{/each}}
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
        <td class="report__heading--sugar-level">
          poziom
          <br />
          cukru
        </td>
        <td class="report__heading--insulin-dose">
          dawka
          <br />
          insuliny
        </td>
      </tr>
      {{!-- (tr>th{$}>td.report__result{xy$}*14)*22 --}}

     
      <tr>
          <th>
              7
              <td class="report__result">{{data.result.h7y1}}</td>
              <td class="report__result">{{data.result.h7y2}}</td>
              <td class="report__result">{{data.result.h7y3}}</td>
              <td class="report__result">{{data.result.h7y4}}</td>
              <td class="report__result">{{data.result.h7y5}}</td>
              <td class="report__result">{{data.result.h7y6}}</td>
              <td class="report__result">{{data.result.h7y7}}</td>
              <td class="report__result">{{data.result.h7y8}}</td>
              <td class="report__result">{{data.result.h7y9}}</td>
              <td class="report__result">{{data.result.h7y10}}</td>
              <td class="report__result">{{data.result.h7y11}}</td>
              <td class="report__result">{{data.result.h7y12}}</td>
              <td class="report__result">{{data.result.h7y13}}</td>
              <td class="report__result">{{data.result.h7y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              8
              <td class="report__result">{{data.result.h8y1}}</td>
              <td class="report__result">{{data.result.h8y2}}</td>
              <td class="report__result">{{data.result.h8y3}}</td>
              <td class="report__result">{{data.result.h8y4}}</td>
              <td class="report__result">{{data.result.h8y5}}</td>
              <td class="report__result">{{data.result.h8y6}}</td>
              <td class="report__result">{{data.result.h8y7}}</td>
              <td class="report__result">{{data.result.h8y8}}</td>
              <td class="report__result">{{data.result.h8y9}}</td>
              <td class="report__result">{{data.result.h8y10}}</td>
              <td class="report__result">{{data.result.h8y11}}</td>
              <td class="report__result">{{data.result.h8y12}}</td>
              <td class="report__result">{{data.result.h8y13}}</td>
              <td class="report__result">{{data.result.h8y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              9
              <td class="report__result">{{data.result.h9y1}}</td>
              <td class="report__result">{{data.result.h9y2}}</td>
              <td class="report__result">{{data.result.h9y3}}</td>
              <td class="report__result">{{data.result.h9y4}}</td>
              <td class="report__result">{{data.result.h9y5}}</td>
              <td class="report__result">{{data.result.h9y6}}</td>
              <td class="report__result">{{data.result.h9y7}}</td>
              <td class="report__result">{{data.result.h9y8}}</td>
              <td class="report__result">{{data.result.h9y9}}</td>
              <td class="report__result">{{data.result.h9y10}}</td>
              <td class="report__result">{{data.result.h9y11}}</td>
              <td class="report__result">{{data.result.h9y12}}</td>
              <td class="report__result">{{data.result.h9y13}}</td>
              <td class="report__result">{{data.result.h9y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              10
              <td class="report__result">{{data.result.h10y1}}</td>
              <td class="report__result">{{data.result.h10y2}}</td>
              <td class="report__result">{{data.result.h10y3}}</td>
              <td class="report__result">{{data.result.h10y4}}</td>
              <td class="report__result">{{data.result.h10y5}}</td>
              <td class="report__result">{{data.result.h10y6}}</td>
              <td class="report__result">{{data.result.h10y7}}</td>
              <td class="report__result">{{data.result.h10y8}}</td>
              <td class="report__result">{{data.result.h10y9}}</td>
              <td class="report__result">{{data.result.h10y10}}</td>
              <td class="report__result">{{data.result.h10y11}}</td>
              <td class="report__result">{{data.result.h10y12}}</td>
              <td class="report__result">{{data.result.h10y13}}</td>
              <td class="report__result">{{data.result.h10y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              11
              <td class="report__result">{{data.result.h11y1}}</td>
              <td class="report__result">{{data.result.h11y2}}</td>
              <td class="report__result">{{data.result.h11y3}}</td>
              <td class="report__result">{{data.result.h11y4}}</td>
              <td class="report__result">{{data.result.h11y5}}</td>
              <td class="report__result">{{data.result.h11y6}}</td>
              <td class="report__result">{{data.result.h11y7}}</td>
              <td class="report__result">{{data.result.h11y8}}</td>
              <td class="report__result">{{data.result.h11y9}}</td>
              <td class="report__result">{{data.result.h11y10}}</td>
              <td class="report__result">{{data.result.h11y11}}</td>
              <td class="report__result">{{data.result.h11y12}}</td>
              <td class="report__result">{{data.result.h11y13}}</td>
              <td class="report__result">{{data.result.h11y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              12
              <td class="report__result">{{data.result.h12y1}}</td>
              <td class="report__result">{{data.result.h12y2}}</td>
              <td class="report__result">{{data.result.h12y3}}</td>
              <td class="report__result">{{data.result.h12y4}}</td>
              <td class="report__result">{{data.result.h12y5}}</td>
              <td class="report__result">{{data.result.h12y6}}</td>
              <td class="report__result">{{data.result.h12y7}}</td>
              <td class="report__result">{{data.result.h12y8}}</td>
              <td class="report__result">{{data.result.h12y9}}</td>
              <td class="report__result">{{data.result.h12y10}}</td>
              <td class="report__result">{{data.result.h12y11}}</td>
              <td class="report__result">{{data.result.h12y12}}</td>
              <td class="report__result">{{data.result.h12y13}}</td>
              <td class="report__result">{{data.result.h12y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              13
              <td class="report__result">{{data.result.h13y1}}</td>
              <td class="report__result">{{data.result.h13y2}}</td>
              <td class="report__result">{{data.result.h13y3}}</td>
              <td class="report__result">{{data.result.h13y4}}</td>
              <td class="report__result">{{data.result.h13y5}}</td>
              <td class="report__result">{{data.result.h13y6}}</td>
              <td class="report__result">{{data.result.h13y7}}</td>
              <td class="report__result">{{data.result.h13y8}}</td>
              <td class="report__result">{{data.result.h13y9}}</td>
              <td class="report__result">{{data.result.h13y10}}</td>
              <td class="report__result">{{data.result.h13y11}}</td>
              <td class="report__result">{{data.result.h13y12}}</td>
              <td class="report__result">{{data.result.h13y13}}</td>
              <td class="report__result">{{data.result.h13y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              14
              <td class="report__result">{{data.result.h14y1}}</td>
              <td class="report__result">{{data.result.h14y2}}</td>
              <td class="report__result">{{data.result.h14y3}}</td>
              <td class="report__result">{{data.result.h14y4}}</td>
              <td class="report__result">{{data.result.h14y5}}</td>
              <td class="report__result">{{data.result.h14y6}}</td>
              <td class="report__result">{{data.result.h14y7}}</td>
              <td class="report__result">{{data.result.h14y8}}</td>
              <td class="report__result">{{data.result.h14y9}}</td>
              <td class="report__result">{{data.result.h14y10}}</td>
              <td class="report__result">{{data.result.h14y11}}</td>
              <td class="report__result">{{data.result.h14y12}}</td>
              <td class="report__result">{{data.result.h14y13}}</td>
              <td class="report__result">{{data.result.h14y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              15
              <td class="report__result">{{data.result.h15y1}}</td>
              <td class="report__result">{{data.result.h15y2}}</td>
              <td class="report__result">{{data.result.h15y3}}</td>
              <td class="report__result">{{data.result.h15y4}}</td>
              <td class="report__result">{{data.result.h15y5}}</td>
              <td class="report__result">{{data.result.h15y6}}</td>
              <td class="report__result">{{data.result.h15y7}}</td>
              <td class="report__result">{{data.result.h15y8}}</td>
              <td class="report__result">{{data.result.h15y9}}</td>
              <td class="report__result">{{data.result.h15y10}}</td>
              <td class="report__result">{{data.result.h15y11}}</td>
              <td class="report__result">{{data.result.h15y12}}</td>
              <td class="report__result">{{data.result.h15y13}}</td>
              <td class="report__result">{{data.result.h15y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              16
              <td class="report__result">{{data.result.h16y1}}</td>
              <td class="report__result">{{data.result.h16y2}}</td>
              <td class="report__result">{{data.result.h16y3}}</td>
              <td class="report__result">{{data.result.h16y4}}</td>
              <td class="report__result">{{data.result.h16y5}}</td>
              <td class="report__result">{{data.result.h16y6}}</td>
              <td class="report__result">{{data.result.h16y7}}</td>
              <td class="report__result">{{data.result.h16y8}}</td>
              <td class="report__result">{{data.result.h16y9}}</td>
              <td class="report__result">{{data.result.h16y10}}</td>
              <td class="report__result">{{data.result.h16y11}}</td>
              <td class="report__result">{{data.result.h16y12}}</td>
              <td class="report__result">{{data.result.h16y13}}</td>
              <td class="report__result">{{data.result.h16y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              17
              <td class="report__result">{{data.result.h17y1}}</td>
              <td class="report__result">{{data.result.h17y2}}</td>
              <td class="report__result">{{data.result.h17y3}}</td>
              <td class="report__result">{{data.result.h17y4}}</td>
              <td class="report__result">{{data.result.h17y5}}</td>
              <td class="report__result">{{data.result.h17y6}}</td>
              <td class="report__result">{{data.result.h17y7}}</td>
              <td class="report__result">{{data.result.h17y8}}</td>
              <td class="report__result">{{data.result.h17y9}}</td>
              <td class="report__result">{{data.result.h17y10}}</td>
              <td class="report__result">{{data.result.h17y11}}</td>
              <td class="report__result">{{data.result.h17y12}}</td>
              <td class="report__result">{{data.result.h17y13}}</td>
              <td class="report__result">{{data.result.h17y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              18
              <td class="report__result">{{data.result.h18y1}}</td>
              <td class="report__result">{{data.result.h18y2}}</td>
              <td class="report__result">{{data.result.h18y3}}</td>
              <td class="report__result">{{data.result.h18y4}}</td>
              <td class="report__result">{{data.result.h18y5}}</td>
              <td class="report__result">{{data.result.h18y6}}</td>
              <td class="report__result">{{data.result.h18y7}}</td>
              <td class="report__result">{{data.result.h18y8}}</td>
              <td class="report__result">{{data.result.h18y9}}</td>
              <td class="report__result">{{data.result.h18y10}}</td>
              <td class="report__result">{{data.result.h18y11}}</td>
              <td class="report__result">{{data.result.h18y12}}</td>
              <td class="report__result">{{data.result.h18y13}}</td>
              <td class="report__result">{{data.result.h18y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              19
              <td class="report__result">{{data.result.h19y1}}</td>
              <td class="report__result">{{data.result.h19y2}}</td>
              <td class="report__result">{{data.result.h19y3}}</td>
              <td class="report__result">{{data.result.h19y4}}</td>
              <td class="report__result">{{data.result.h19y5}}</td>
              <td class="report__result">{{data.result.h19y6}}</td>
              <td class="report__result">{{data.result.h19y7}}</td>
              <td class="report__result">{{data.result.h19y8}}</td>
              <td class="report__result">{{data.result.h19y9}}</td>
              <td class="report__result">{{data.result.h19y10}}</td>
              <td class="report__result">{{data.result.h19y11}}</td>
              <td class="report__result">{{data.result.h19y12}}</td>
              <td class="report__result">{{data.result.h19y13}}</td>
              <td class="report__result">{{data.result.h19y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              20
              <td class="report__result">{{data.result.h20y1}}</td>
              <td class="report__result">{{data.result.h20y2}}</td>
              <td class="report__result">{{data.result.h20y3}}</td>
              <td class="report__result">{{data.result.h20y4}}</td>
              <td class="report__result">{{data.result.h20y5}}</td>
              <td class="report__result">{{data.result.h20y6}}</td>
              <td class="report__result">{{data.result.h20y7}}</td>
              <td class="report__result">{{data.result.h20y8}}</td>
              <td class="report__result">{{data.result.h20y9}}</td>
              <td class="report__result">{{data.result.h20y10}}</td>
              <td class="report__result">{{data.result.h20y11}}</td>
              <td class="report__result">{{data.result.h20y12}}</td>
              <td class="report__result">{{data.result.h20y13}}</td>
              <td class="report__result">{{data.result.h20y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              21
              <td class="report__result">{{data.result.h21y1}}</td>
              <td class="report__result">{{data.result.h21y2}}</td>
              <td class="report__result">{{data.result.h21y3}}</td>
              <td class="report__result">{{data.result.h21y4}}</td>
              <td class="report__result">{{data.result.h21y5}}</td>
              <td class="report__result">{{data.result.h21y6}}</td>
              <td class="report__result">{{data.result.h21y7}}</td>
              <td class="report__result">{{data.result.h21y8}}</td>
              <td class="report__result">{{data.result.h21y9}}</td>
              <td class="report__result">{{data.result.h21y10}}</td>
              <td class="report__result">{{data.result.h21y11}}</td>
              <td class="report__result">{{data.result.h21y12}}</td>
              <td class="report__result">{{data.result.h21y13}}</td>
              <td class="report__result">{{data.result.h21y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              22
              <td class="report__result">{{data.result.h22y1}}</td>
              <td class="report__result">{{data.result.h22y2}}</td>
              <td class="report__result">{{data.result.h22y3}}</td>
              <td class="report__result">{{data.result.h22y4}}</td>
              <td class="report__result">{{data.result.h22y5}}</td>
              <td class="report__result">{{data.result.h22y6}}</td>
              <td class="report__result">{{data.result.h22y7}}</td>
              <td class="report__result">{{data.result.h22y8}}</td>
              <td class="report__result">{{data.result.h22y9}}</td>
              <td class="report__result">{{data.result.h22y10}}</td>
              <td class="report__result">{{data.result.h22y11}}</td>
              <td class="report__result">{{data.result.h22y12}}</td>
              <td class="report__result">{{data.result.h22y13}}</td>
              <td class="report__result">{{data.result.h22y14}}</td>
          </th>
      </tr>
            <tr>
                 <th>
              23
              <td class="report__result">{{data.result.h23y1}}</td>
              <td class="report__result">{{data.result.h23y2}}</td>
              <td class="report__result">{{data.result.h23y3}}</td>
              <td class="report__result">{{data.result.h23y4}}</td>
              <td class="report__result">{{data.result.h23y5}}</td>
              <td class="report__result">{{data.result.h23y6}}</td>
              <td class="report__result">{{data.result.h23y7}}</td>
              <td class="report__result">{{data.result.h23y8}}</td>
              <td class="report__result">{{data.result.h23y9}}</td>
              <td class="report__result">{{data.result.h23y10}}</td>
              <td class="report__result">{{data.result.h23y11}}</td>
              <td class="report__result">{{data.result.h23y12}}</td>
              <td class="report__result">{{data.result.h23y13}}</td>
              <td class="report__result">{{data.result.h23y14}}</td>
          </th>
          </tr><tr>
           <th>
              24
              <td class="report__result">{{data.result.h24y1}}</td>
              <td class="report__result">{{data.result.h24y2}}</td>
              <td class="report__result">{{data.result.h24y3}}</td>
              <td class="report__result">{{data.result.h24y4}}</td>
              <td class="report__result">{{data.result.h24y5}}</td>
              <td class="report__result">{{data.result.h24y6}}</td>
              <td class="report__result">{{data.result.h24y7}}</td>
              <td class="report__result">{{data.result.h24y8}}</td>
              <td class="report__result">{{data.result.h24y9}}</td>
              <td class="report__result">{{data.result.h24y10}}</td>
              <td class="report__result">{{data.result.h24y11}}</td>
              <td class="report__result">{{data.result.h24y12}}</td>
              <td class="report__result">{{data.result.h24y13}}</td>
              <td class="report__result">{{data.result.h24y14}}</td>
          </th></tr><tr>
          <th>
              1
              <td class="report__result">{{data.result.h1y1}}</td>
              <td class="report__result">{{data.result.h1y2}}</td>
              <td class="report__result">{{data.result.h1y3}}</td>
              <td class="report__result">{{data.result.h1y4}}</td>
              <td class="report__result">{{data.result.h1y5}}</td>
              <td class="report__result">{{data.result.h1y6}}</td>
              <td class="report__result">{{data.result.h1y7}}</td>
              <td class="report__result">{{data.result.h1y8}}</td>
              <td class="report__result">{{data.result.h1y9}}</td>
              <td class="report__result">{{data.result.h1y10}}</td>
              <td class="report__result">{{data.result.h1y11}}</td>
              <td class="report__result">{{data.result.h1y12}}</td>
              <td class="report__result">{{data.result.h1y13}}</td>
              <td class="report__result">{{data.result.h1y14}}</td>
          </th>
      </tr>
      <tr>
          <th>
              2
              <td class="report__result">{{data.result.h2y1}}</td>
              <td class="report__result">{{data.result.h2y2}}</td>
              <td class="report__result">{{data.result.h2y3}}</td>
              <td class="report__result">{{data.result.h2y4}}</td>
              <td class="report__result">{{data.result.h2y5}}</td>
              <td class="report__result">{{data.result.h2y6}}</td>
              <td class="report__result">{{data.result.h2y7}}</td>
              <td class="report__result">{{data.result.h2y8}}</td>
              <td class="report__result">{{data.result.h2y9}}</td>
              <td class="report__result">{{data.result.h2y10}}</td>
              <td class="report__result">{{data.result.h2y11}}</td>
              <td class="report__result">{{data.result.h2y12}}</td>
              <td class="report__result">{{data.result.h2y13}}</td>
              <td class="report__result">{{data.result.h2y14}}</td>
          </th>
      </tr>
       <tr>
          <th>
              3
              <td class="report__result">{{data.result.h3y1}}</td>
              <td class="report__result">{{data.result.h3y2}}</td>
              <td class="report__result">{{data.result.h3y3}}</td>
              <td class="report__result">{{data.result.h3y4}}</td>
              <td class="report__result">{{data.result.h3y5}}</td>
              <td class="report__result">{{data.result.h3y6}}</td>
              <td class="report__result">{{data.result.h3y7}}</td>
              <td class="report__result">{{data.result.h3y8}}</td>
              <td class="report__result">{{data.result.h3y9}}</td>
              <td class="report__result">{{data.result.h3y10}}</td>
              <td class="report__result">{{data.result.h3y11}}</td>
              <td class="report__result">{{data.result.h3y12}}</td>
              <td class="report__result">{{data.result.h3y13}}</td>
              <td class="report__result">{{data.result.h3y14}}</td>
          </th>
      </tr>
       <th>
              średnia
              <td class="report__result">{{data.result.avg1}}</td>
              <td class="report__result">{{data.result.avg2}}</td>
              <td class="report__result">{{data.result.avg3}}</td>
              <td class="report__result">{{data.result.avg4}}</td>
              <td class="report__result">{{data.result.avg5}}</td>
              <td class="report__result">{{data.result.avg6}}</td>
              <td class="report__result">{{data.result.avg7}}</td>
              <td class="report__result">{{data.result.avg8}}</td>
              <td class="report__result">{{data.result.avg9}}</td>
              <td class="report__result">{{data.result.avg10}}</td>
              <td class="report__result">{{data.result.avg11}}</td>
              <td class="report__result">{{data.result.avg12}}</td>
              <td class="report__result">{{data.result.avg13}}</td>
              <td class="report__result">{{data.result.avg14}}</td>
          </th>
    </tbody>
  </table>
  <div class="description">
      <div class="description__name">
          <ol class="description__name--list">
              <li>Imię i nazwisko: {{data.name}}</li>
              <li>Tydziń ciąży: {{data.week_of_pregnancy}}</li>
          </ol>
      </div>
      <div class="description__info">
          <ol class="description__info--list">
              <li>pomiar na czczo</li>
              <li>1 godzinę po posiłkach głównych (śniadanie, obiad, kolacja)</li>
              <li>22<sup>00</sup> i 3<sup>00</sup> w nocy 1x w tygoniu</li>
              <p>Karty zostają w przychodni</p>
              <p>Telefon</p>
          </ol>
      </div>
  </div>
</main>